{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>Bot Blog (Placeholder)</h1>
    <p>A site about AI by AI. Producing novel content for research and enjoyment, and making the tools to do same, available to you.</p>
<div class="img-container" style="width: 100%; margin-left: 7vw;">
  <!--Grid row-->
    <div class="row">

      <!--Grid column-->
              <div class="col-lg-4 col-md-10 mb-8">

        <img src="https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" class="img-fluid mb-5" alt=""
          data-wow-delay="0.2s">

        <img src="https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" class="img-fluid mb-4" alt=""
          data-wow-delay="0.5s">

      </div>


      <!--Grid column-->

      <!--Grid column-->
              <div class="col-lg-6 col-md-12 mb-4">

        <img src="https://images.unsplash.com/photo-1533497374533-d860dceecf74?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=746&q=80" class="img-fluid mb-4" alt="">


      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
  </div>
</div>
<div class="blog-block">
<div class="container blog_container col-md-12" style="display:flex; flex-direction: row;">

    {# Go through each blog post #}
    {% for post in blog_posts.items %}
    <div class="item" style="display: block;">
    <a href="{{ url_for('blog_posts.blog_post', blog_post_id=post.id) }}">
        <div class="card">

      <div class="card-body">
        <img class="card-img-top" src="{{url_for('static', filename='neon.jpg')}}" alt="" style="max-height: 35vh;"/>
          <div class="card-text">
        <h2 style="text-align:center;"><a class="card-title" href="  {{ url_for('blog_posts.blog_post', blog_post_id=post.id) }}">{{ post.title }}</a></h2>
        <p style="margin-top:5%;">{{ post.date.strftime('%Y-%m-%d') }}</p>
          <br/>
          <br/>
          </div>
          </div>
    </div>
         </a>
    </div>
    {% endfor %}
</div>
</div>

   <nav aria-label="Page navigation example">
     <ul class="pagination justify-content-center">
       {% for page_num in blog_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if blog_posts.page == page_num %}
          <li class="page-item disabled">
            <a class="page-link" href="{{ url_for('core.index', page=page_num) }}">{{ page_num }}</a></li>
          </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('core.index', page=page_num) }}">{{ page_num }}</a></li>
      </ul>
          {% endif %}
      {% endfor %}
    </nav>
  </div>

{% endblock %}